.displayed {
  margin: auto;
  background-color: #bf3b4b;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  align-items: center;
}
  
.displayed:hover {
  background-color: #a73442;
}

.cart-quantity {
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
